<h1>Q6</h1>

<%= form_with url: show7_questions_path do |form| %>
  <%= @question.content %><br>
  <%= form.collection_select(:answer_id, @answers_10, :id, :content, {prompt: "どちらか選択してください"}) %><br>
<br>
  <%= form.submit 'NEXT' %>
<% end %>

<%= link_to 'BACK', show5_questions_path %>
