<h1>Q5</h1>

<%= form_with url: show6_questions_path do |form| %>
  <%= @question.content %><br>
  <%= form.collection_select(:answer_id, @answers_9, :id, :content, {prompt: "どちらか選択してください"}) %><br>
<br>
  <%= form.submit 'NEXT' %>
<% end %>

<%= link_to 'BACK', show4_questions_path %>
