<body class="questions-show-5">
  <%= stylesheet_pack_tag 'questions_show_5', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="container">
    <div class="text-center">
      <h1>Q5</h1>
      <!--フォームに入力されたデータをDBへ保存しないので次の遷移ページにurlのパスを指定する-->
      <%= form_with url: show_6_questions_path do |form| %>
        <!--questions_controllerで設定した@questions = Question.find(9)のcontentを表示する-->
        <p><%= @question.content %></p>
        <!--:gymはformで渡すデータのnameを指定する。@answers_9にはAnswer.where(question_id: Q_09)が格納されている-->
        <h3><%= form.collection_select(:gym, @answers_9, :content, :content, {prompt: "どちらか選択してください"}, required: true) %></h3>
      <br>
        <%= form.submit 'NEXT', class: "btn btn-warning btn-lg w-75" %>
      <% end %>
      <br>
      <!--質問回答数をプログレスバーを部分テンプレート化して表示する-->
      <p>質問回答数 4/12 問</p>
      <%= render partial: 'layouts/progress_bar', locals: { style: "width: 33.2%" } %>
    </div>
  </div>
</body>