<h1>Q1</h1>

<%= form_with url: show2_questions_path do |form| %>
  <%= @questions[0]['content'] %><br>
  <%= form.collection_select(:answer_id, @answers_1, :id, :content, {prompt: "【賃貸派】家賃の予算を選択してください"}) %><br>
<br>
  <%= @questions[1]['content'] %><br>
  <%= form.collection_select(:answer_id, @answers_2, :id, :content, {prompt: "【購入派】購入予定の不動産の種別を選択してください"}) %><br>
<br>
  <%= @questions[2]['content'] %><br>
  <%= form.collection_select(:answer_id, @answers_3, :id, :content, {prompt: "【購入派】購入予定の不動産の予算を選択してください"}) %><br>
<br>
  <%= form.submit 'NEXT' %>
<% end %>
