<body class="questions-show-6">
  <%= stylesheet_pack_tag 'questions_show_6', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="container">
    <div class="text-center">
      <h1>Q6</h1>
      <!--フォームに入力されたデータをDBへ保存しないので次の遷移ページにurlのパスを指定する-->
      <%= form_with url: show_7_questions_path do |form| %>
        <!--questions_controllerで設定した@questions = Question.find(10)のcontentを表示する-->
        <p><%= @question.content %></p>
        <!--:starbucks_coffeeはformで渡すデータのnameを指定する。@answers_10にはAnswer.where(question_id: Q_10)が格納されている-->
        <h3><%= form.collection_select(:starbucks_coffee, @answers_10, :content, :content, {prompt: "どちらか選択してください"}, required: true) %></h3>
      <br>
        <%= form.submit 'NEXT', class: "btn btn-warning btn-lg w-75" %>
      <% end %>
      <br>
      <!--質問回答数をプログレスバーを部分テンプレート化して表示する-->
      <p>質問回答数 5/12 問</p>
      <%= render partial: 'layouts/progress_bar', locals: { style: "width: 41.5%" } %>
    </div>
  </div>
</body>