<body class="questions-show-12">
  <%= stylesheet_pack_tag 'questions_show_12', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="container">
    <div class="text-center">
      <h1>Q12</h1>
      <!--フォームに入力されたデータをDBへ保存しないので次の遷移ページにurlのパスを指定する-->
      <%= form_with url: create_answer_questions_path do |form| %>
        <!--questions_controllerで設定した@questions = Question.find(17)のcontentを表示する-->
        <p><%= @question.content %></p>
        <!--:spaはformで渡すデータのnameを指定する。@answers_17にはAnswer.where(question_id: Q_17)が格納されている-->
        <h3><%= form.collection_select(:spa, @answers_17, :content, :content, {prompt: "どちらか選択してください"}, required: true) %></h3>
      <br>
        <%= form.submit 'RESULT', id: "result_btn", class: "btn btn-warning btn-lg w-75", data: {disable_with: false} %>
        <!--submit後にLoading画面を差し込むためにidとclassを設定する-->
        <div id="loading">
          <div id="loading_box">
            <div class="loading-one animation_loading">
              <p class="loading-txt">Loading</p>
            </div>
          </div>
        </div>
      <% end %>
      <br>
      <!--質問回答数をプログレスバーを部分テンプレート化して表示する-->
      <p>質問回答数 11/12 問</p>
      <%= render partial: 'layouts/progress_bar', locals: { style: "width: 92%" } %>
    </div>
  </div>
</body>