<h1>Q3</h1>
<!--フォームに入力されたデータをDBへ保存しないので次の遷移ページにurlのパスを指定する-->
<%= form_with url: show_4_questions_path do |form| %>
  <!--questions_controllerで設定した@questions = Question.find(6,7)から指定した配列番号のcontentを表示する-->
  <%= @questions[0]['content'] %><br>
  <!--:destination_2はformで渡すデータのnameを指定する-->
  <%= form.text_field :destination_2, :placeholder => '目的地最寄の駅名を入力してください　"東京" → OK、"東京駅" → NG', size: 60, class: 'form-control', required: true %><span>駅</span><br>
<br>
  <!--questions_controllerで設定した@questions = Question.find(6,7)から指定した配列番号のcontentを表示する-->
  <%= @questions[1]['content'] %><br>
  <!--:transit_time_2はformで渡すデータのnameを指定する。@answers_7にはAnswer.where(question_id: Q_07)が格納されている-->
  <%= form.collection_select(:transit_time_2, @answers_7, :content, :content, {prompt: "目的駅までの希望する移動時間を選択してください"}, required: true) %><br>
<br>
  <%= form.submit 'NEXT' %>
<% end %>

<%= link_to 'BACK', show_2_questions_path %>
