<body class="questions-show-1">
  <%= stylesheet_pack_tag 'questions_show_1', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="container">
    <div class="text-center">
      <h1>Q1</h1>
      <!--フォームに入力されたデータをDBへ保存しないので次の遷移ページにurlのパスを指定する-->
      <%= form_with url: show_2_questions_path do |form| %>
            <!--questions_controllerで設定した@questions = Question.find(1,2,3,18)から指定した配列番号のcontentを表示する-->
            <p><%= @questions[0]['content'] %></p>
            <!--:rent_budgetはformで渡すデータのnameを指定する。@answers_1にはAnswer.where(question_id: Q_01)が格納されている-->
            <h3><%= form.collection_select(:rent_budget, @answers_1, :content, :content, {prompt: "家賃の予算を選択してください"}, required: true) %></h3>
          <br>
            <!--questions_controllerで設定した@questions = Question.find(1,2,3,18,19)から指定した配列番号のcontentを表示する-->
            <p><%= @questions[3]['content'] %></p>
            <!--:floor_planはformで渡すデータのnameを指定する。@answers_18にはAnswer.where(question_id: Q_18)が格納されている-->
            <h3><%= form.collection_select(:floor_plan, @answers_18, :content, :content, {prompt: "希望する間取りを選択してください"}, required: true) %></h3>
          <br>
            <%= form.submit 'NEXT', id: "next_btn", class: "btn btn-warning btn-lg w-75" %>
      <% end %>
      <br>
      <!--質問回答数をプログレスバーを部分テンプレート化して表示する-->
      <p>質問回答数 0/12 問</p>
      <%= render partial: 'layouts/progress_bar', locals: { style: "width: 0%" } %>
    </div>
  </div>  
</body>