<body class="questions-show-9">
  <%= stylesheet_pack_tag 'questions_show_9', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="container">
    <div class="text-center">
      <h1>Q9</h1>
      <!--フォームに入力されたデータをDBへ保存しないので次の遷移ページにurlのパスを指定する-->
      <%= form_with url: show_10_questions_path do |form| %>
        <!--questions_controllerで設定した@questions = Question.find(14)のcontentを表示する-->
        <p><%= @question.content %></p>
        <!--:supermarketはformで渡すデータのnameを指定する。@answers_14にはAnswer.where(question_id: Q_14)が格納されている-->
        <h3><%= form.collection_select(:supermarket, @answers_14, :content, :content, {prompt: "どちらか選択してください"}, required: true) %></h3>
      <br>
        <%= form.submit 'NEXT', class: "btn btn-warning btn-lg" %>
      <% end %>
      <br>
      <!--質問回答数をプログレスバーを部分テンプレート化して表示する-->
      <p>質問回答数 8/12 問</p>
      <%= render partial: 'layouts/progress_bar', locals: { style: "width: 66.4%" } %>
    </div>
  </div>
</body>