<body class="questions-show-4">
  <%= stylesheet_pack_tag 'questions_show_4', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="container">
    <div class="text-center">
      <h1>Q4</h1>
      <!--フォームに入力されたデータをDBへ保存しないので次の遷移ページにurlのパスを指定する-->
      <%= form_with url: show_5_questions_path do |form| %>
        <!--questions_controllerで設定した@questions = Question.find(19)のcontentを表示する-->
        <p><%= @question.content %></p>
        <!--:prefecture_to_liveはformで渡すデータのnameを指定する。@answers_19にはAnswer.where(question_id: Q_19)が格納されている-->
        <h3><%= form.collection_select(:prefecture_to_live, @answers_19, :content, :content, {prompt: "住みたいエリアを選択してください"}, required: true) %></h3>
      <br>
        <%= form.submit 'NEXT', class: "btn btn-warning btn-lg w-75" %>
      <% end %>
      <!--質問回答数をプログレスバーを部分テンプレート化して表示する-->
      <p>質問回答数 3/12 問</p>
      <%= render partial: 'layouts/progress_bar', locals: { style: "width: 24.9%" } %>
    </div>
  </div>
</body>