<h1>Q10</h1>

<%= form_with url: show11_questions_path do |form| %>
  <%= @question.content %><br>
  <%= form.collection_select(:answer_id, @answers_14, :id, :content, {prompt: "どちらか選択してください"}) %><br>
<br>
  <%= form.submit 'NEXT' %>
<% end %>

<%= link_to 'BACK', show9_questions_path %>
