<h1>Q8</h1>

<%= form_with url: show9_questions_path do |form| %>
  <%= @question.content %><br>
  <%= form.collection_select(:answer_id, @answers_12, :id, :content, {prompt: "どちらか選択してください"}) %><br>
<br>
  <%= form.submit 'NEXT' %>
<% end %>

<%= link_to 'BACK', show7_questions_path %>
