<body class="search-answers">  
  <%= stylesheet_pack_tag 'back_search', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="container">
    <div class="style-adjust-search">
      <h1 class="fix-scroll">駅情報一覧</h1>
      <div class="table-cell">
        <table rules="all">
          <thead>
            <tr class="scroll-fix-head">
              <th class="scroll-fix-station" nowrap>駅名</th>
              <th nowrap>間取り：家賃相場</th>
              <th nowrap>スポーツジム</th>
              <th nowrap>スターバックスコーヒー</th>
              <th nowrap>マクドナルド</th>
              <th nowrap>餃子の王将</th>
              <th nowrap>23時以降も営業中のスーパーマーケット</th>
              <th nowrap>大きな公園</th>
              <th nowrap>図書館</th>
              <th nowrap>銭湯・サウナ</th>
            </tr>
          </thead>
          <tbody>
            <% @results.each do |result| %>
              <tr>
                <td class="scroll-fix-station" nowrap><%= result.station_name %></td>
                <td nowrap><%= result.floor_plan %> : <%= result.market_price %>万円</td>
                <td nowrap><%= result.gym %></td>
                <td nowrap><%= result.starbucks_coffee %></td>
                <td nowrap><%= result.mcdonalds %></td>
                <td nowrap><%= result.ohsho %></td>
                <td nowrap><%= result.supermarket %></td>
                <td nowrap><%= result.large_park %></td>
                <td nowrap><%= result.library %></td>
                <td nowrap><%= result.spa %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <!--'BACK'の実装を:backとするとスクレイピングが始まってしまうので、検索フォームだけのページを作成して呼び出す-->
      <%= link_to 'BACK',  answers_back_search_path, class: "btn btn-secondary btn-lg" %>
      <%= link_to 'EXIT', pages_show_path, class: "btn btn-secondary btn-lg" %>
    </div>
  </div>
</body>