<!DOCTYPE html>
<html>
  <head>
    <title>Ekibank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="/">Ekibank</a>
          <% if user_signed_in? %>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/users/edit"><%= current_user.username %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/answers/back_search">駅名検索</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/sign_out">ログアウト</a>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/users/sign_up">サインアップ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/sign_in">ログイン</a>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </nav>
      <i class="notice"><%= notice %></i>
      <i class="alert"><%= alert %></i>
    </header>
    <!--各アクションに対応したviewファイルの差し込み-->
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
